* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

main {
  padding-top: 4.3125rem;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

a {
  color: inherit;
}

a:hover {
  color: black;
}

/* header section */

header {
  background-color: #e23e57;
  border-bottom: 2px solid black;
  position: fixed;
  min-height: 4.3125rem;
  width: 100%;
}

.header-container {
  color: white;
  min-height: 100%;
  padding: 1rem;
  justify-content: space-between;
  gap: 0.625rem;
}

.header-container h1 {
  font-size: 3em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.nav {
  align-items: center;
  justify-content: flex-end;
}

.nav li {
  font-size: 1.375em;
  padding-left: 3rem;
}

.nav a {
  text-decoration: none;
}

@media only screen and (max-width: 850px) {
  .nav li {
    padding-left: 1em;
  }
}

@media only screen and (max-width: 740px) {
  .header-container h1 {
    align-self: center;
    font-size: 2.5em;
  }

  .nav {
    flex-direction: column;
  }

  .nav li {
    padding-bottom: 0.75rem;
    font-size: 1em;
  }
}

@media only screen and (max-width: 480px) {
  .header-container {
    flex-direction: column;
  }

  .nav {
    padding-top: 0.75em;
  }
}
